@{
}

@model List<NewMovie>

<table class="table table-bordered">
    <thead class="fw-bold">
    <tr>
        <td>Category</td>
        <td>Title</td>
        <td>Year</td>
        <td>Director</td>
        <td>Rating</td>
        <td>Edited</td>
        <td>Lent To</td>
        <td>Copied to Plex</td>
        <td>Notes</td>
    </tr>
    </thead>
    
    <tbody>
    @foreach (NewMovie x in Model)
    {
        <tr>
            <td>@ViewBag.Categories[x.CategoryId - 1].CategoryName</td>
            <td>@x.Title</td>
            <td>@x.Year</td>
            <td>@x.Director</td>
            <td>@x.Rating</td>
            <td>@x.Edited</td>
            <td>@x.LentTo</td>
            <td>@x.CopiedToPlex</td>
            <td>@x.Notes</td>
            
            <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@x.MovieId">Edit</a></td>
            <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.MovieId">Delete</a></td>
        </tr>
    }
    </tbody>


</table>
